{% extends 'djangoWebbank/index.html' %}
{% block content %}
    <script>
        function rangesum () {
            let range = document.getElementById('rangeCredit')
            let cost = document.getElementById('textCredit')
            cost.value = range.value
        }

        function textsum () {
            let range = document.getElementById('rangeCredit')
            let cost = document.getElementById('textCredit')
            range.value = cost.value
        }

        function rangeterm () {
            let range = document.getElementById('rangeTerm')
            let term = document.getElementById('textTerm')
            term.value = range.value
        }

        function textterm () {
            let range = document.getElementById('rangeTerm')
            let term = document.getElementById('textTerm')
            range.value = term.value
        }

        function month_payment () {
            let term = document.getElementById('textTerm').value
            let sum = document.getElementById('textCredit').value
            let tt = Math.pow((1+0.0074), -(term*12))
            let month_payment = Math.round(sum * (0.0074/(1-tt)))
            document.getElementById('span-output-payment-month').innerText=month_payment
        }
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/" style="position: relative; color: seagreen; right: -1em">
            <img src="/static/img/MAMONTBANK_without-text.png" width="35" height="30" class="d-inline-block align-text-top">MamontBank
        </a>
        <button class="navbar-toggler" type="button" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="position: relative; right: -1em">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link fs-5">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/mortgage" class="nav-link fs-5">Ипотека</a>
                </li>
                <li class="nav-item active">
                    <a href="/credit" class="nav-link fs-5">Кредит</a>
                </li>
                <li class="nav-item">
                    <a href="/deposit" class="nav-link fs-5">Вклад</a>
                </li>
            </ul>
        </div>
        {% if not user.is_authenticated %}
            <a class="nav-brand" href="account/login" style="position: relative; right: 1em">
                <i class="d-inline-block align-text-top; fa-solid fa-door-open fa-2x" style="color: seagreen"></i>
            </a>
        {% else %}
            <a class="nav-brand" href="account/logout" style="position: relative;">
                <i class="d-inline-block align-text-top; fa-solid fa-right-from-bracket fa-2x" style="color: seagreen"></i>
            </a>
            <a class="nav-brand" href="/profile/{{ user }}" style="position: relative; right: 6em">
                <i class="nav-link fa-solid fa-user fa-2x" style="color: seagreen"></i>
            </a>
        {% endif %}
    </nav>
    <div class="bg-layer" style="height: 250%">
        <div class="bg-layer-second" style="height: 100%">
            <div class="bg-layer-third" style="height: 100%">
                <div class="d-flex justify-contect-center" style="position: relative; right: -33em; bottom: -2em">
                    <a class="nav-link btn btn-success btn-lg" href="#form-credit" style="width: 15%">Открыть кредит</a>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; bottom: -5em">
                    <a class="fs-1" style="text-decoration: none; color: #00000C"><strong>Кредит в Mamont Bank</strong></a>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; bottom: -6em">
                    <a class="fs-5" style="text-decoration: none; color: #00000C">Откройте кредит на любые цели!</a>
                </div>
                <div class="card-desk" style="position: relative">
                    <div class="card rounded-start rounded-4" style="position: relative; width: 20em; height: 15em; bottom: -15em; right: -5em">
                        <i class="card-img-top; fa-solid fa-percent fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div>
                            <h5 class="card-title" style="position: relative; bottom: -3em; right: -0.8em">Ставка</h5>
                            <p class="card-text" style="position: relative; bottom: -5em; right: -0.8em;">Ставка от 8.9%</p>
                        </div>
                    </div>
                    <div class="card rounded-4" style="width: 20em; height: 15em; right: -29em">
                        <i class="card-img-top; fa-solid fa-thumbs-up fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div>
                            <h5 class="card-title" style="position: relative; bottom: -3em; right: -0.8em">Лимиты</h5>
                            <p class="card-text" style="position: relative; bottom: -5em; right: -0.8em">Доступный кредит до 20 000 000 ₽ и сроком до 18 лет</p>
                        </div>
                    </div>
                    <div class="card rounded-end rounded-4" style="position: relative; width: 20em; height: 15em; bottom: 15em; right: -53em">
                        <i class="card-img-top; fa-solid fa-calculator fa-3x" style="position: relative; right: -0.8em; bottom: -15px"></i>
                        <div>
                            <h5 class="card-title" style="position: relative; bottom: -3em; right: -0.8em">Рассчет кредита</h5>
                            <p class="card-text" style="position: relative; bottom: -5em; right: -0.8em">Рассчитайте кредит на сайте банка</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; bottom: 8em">
                    <a class="fs-1" style="text-decoration: none; color: #00000C"><strong>Рассчитайте условия кредита на</strong></a>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; bottom: 8em">
                    <a class="fs-1" style="text-decoration: none; color: #00000C"><strong>калькуляторе</strong></a>
                </div>
                <div class="card-desk" style="position: relative; bottom: 18em">
                    <div class="card rounded-start rounded-4" style="position: relative; width: 20em; height: 11em; bottom: -15em; right: -5em">
                        <i class="card-img-top; fa-solid fa-calculator fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div>
                            <p class="card-text" style="position: relative; bottom: -2em; right: -0.8em">Рассчитайте удобные условия для погашения кредита на нашем онлайн-калькуляторе</p>
                        </div>
                    </div>
                    <div class="card rounded-4" style="width: 20em; height: 11em; right: -29em; bottom: -4em">
                        <i class="card-img-top; fa-solid fa-credit-card fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div>
                            <p class="card-text" style="position: relative; bottom: -2em; right: -0.8em">Просто укажите в заявке сумму и срок кредита</p>
                        </div>
                    </div>
                    <div class="card rounded-end rounded-4" style="position: relative; width: 20em; height: 11em; bottom: 7em; right: -53em">
                        <i class="card-img-top; fa-solid fa-percent fa-3x" style="position: relative; right: -0.8em; bottom: -15px"></i>
                        <div>
                            <p class="card-text" style="position: relative; bottom: -2em; right: -0.8em">Калькулятор покажет ежемесячный платеж с учетом минимальной процентной ставки</p>
                        </div>
                    </div>
                </div>
                <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="position: relative; width: 55%; height: 15em; right: -18em; bottom: 20em">
                    <div class="card-body">
                        <form>
                            <fieldset>
                                <legend>Сумма кредита</legend>
                                <input type="range" min="50000" step="5000" max="20000000" id="rangeCredit" value="3500000" oninput="rangesum(), month_payment()">
                                <input type="text" maxlength="8" id="textCredit" value="3500000" oninput="textsum(), month_payment()">
                            </fieldset>
                            <fieldset>
                                <legend>Срок кредита</legend>
                                <input type="range" min="1" max="18" id="rangeTerm" value="5" oninput="rangeterm(), month_payment()">
                                <input type="text" maxlength="2" id="textTerm" value="5" oninput="textterm(), month_payment()">
                            </fieldset>
                            <div class="d-flex justify-content-center fs-3" style="position: relative; bottom: 5em; right: -6em">
                                <h5>Ежемесячный платеж</h5>
                            </div>
                            <div class="d-flex justify-content-center fs-3" style="position: relative; bottom: 6em; right: -10.5em">
                                <span id="span-output-payment-month" style="position: relative; right: 4.5em; bottom: -1em">71945</span>
                                <h2 style="position: relative; right: 3.5em; bottom: -0.9em">₽</h2>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="form-credit" class="card shadow-lg p-3 mb-5 bg-body rounded" style="position: relative; width: 50%; height: 45em; right: -20em; top: -20em">
                    <div class="card-body" style="position: relative; top: -1em">
                        <form method="post">
                            <h4 class="card-title" style="top: -0.5em">Заполните форму</h4>
                            {% load static %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success btn-lg" type="submit" name="next_credit">Оформить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center text-lg-start bg-light text-muted" style="position: relative; bottom: -140em">
                    <section class="d-flex justify-content-center justify-content-lg-bettween p-4 border-bottom">
                        <div class="me-5 d-none d-lg-block">
                            <span>Follow us:</span>
                        </div>
                        <div>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-discord"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-paypal"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </section>
                    <section>
                        <div class="container text-center text-md-start mt-5">
                            <div class="row mt-3">
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="position: relative; bottom: 0.5em">
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        <img src="/static/img/MAMONTBANK_without-text-grey.png" width="10%"></img>
                                    </h6>
                                    <p>
                                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                                    <p>
                                        <a href="/" class="text-reset">Home</a>
                                    </p>
                                    <p>
                                        <a href="/mortgage" class="text-reset">Ипотека</a>
                                    </p>
                                    <p>
                                        <a href="/credit" class="text-reset">Кредит</a>
                                    </p>
                                    <p>
                                        <a href="/deposit" class="text-reset">Вклад</a>
                                    </p>
                                </div>
                                <div class="col-md-4 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                    <p><i class="fas fa-home me-3"></i>Moskow, 10010, RU</p>
                                    <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
                                    <p><i class="fas fa-phone me-3"></i>+ 7 495 111 011 11</p>
                                    <p><i class="fas fa-print me-3"></i>+ 7 495 111 011 12</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="text-center p-4" style="background-color: black"> © 2022 Copyright:
                        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MamontBank.com</a>
                    </div>
                </footer>
    </div>

{% endblock %}