{% extends "djangoWebbank/index.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="" style="position: relative; color: seagreen; right: -1em">
            <img src="/static/img/MAMONTBANK_without-text.png" width="35" height="30" class="d-inline-block align-text-top">MamontBank
        </a>
        <button class="navbar-toggler" type="button" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="position: relative; right: -1em">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/" class="nav-link fs-5">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/mortgage" class="nav-link fs-5">Ипотека</a>
                </li>
                <li class="nav-item">
                    <a href="/credit" class="nav-link fs-5">Кредит</a>
                </li>
                <li class="nav-item">
                    <a href="/deposit" class="nav-link fs-5">Вклад</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg-layer" style="height: 292%">
        <div class="bg-layer-second" style="height: 100%">
            <div class="bg-layer-third" style="height: 100%">
                <div class="d-flex justify-content-center" style="position: relative; bottom: -150px">
                    <a class="fs-6" style="text-decoration: none; color: #000000CC;">Счет в MamontBank</a>
                </div>
                <div style="position: relative; right: -33em; bottom: -2em">
                    <a class="nav-link btn btn-success btn-lg" href="#form-customer" style="position: relative; width: 15%">Открыть счет</a>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; bottom: -175px">
                    <a class="fs-5" style="color: #000000CC; text-decoration: none">Откройте счет в <strong><u>MamontBank</u></strong> и пользуйтесь всеми премуществами уже сегодня!</a>
                </div>
                <div class="card-desk" style="position: relative">
                    <div class="card" style="position: relative; width: 20em; height: 15em; bottom: -20em; right: -5em">
                        <i class="card-img-top; fa-solid fa-percent fa-3x" style="position: relative; right: -0.5em; bottom: -15px;"></i>
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; bottom: -2em;">Card title</h5>
                            <p class="card-text" style="position: relative; bottom: -4em;">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card" style="position: relative; width: 20em; height: 15em; bottom: -5em; right: -29em">
                        <i class="card-img-top; fa-solid fa-shield-halved fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; bottom: -2em">Card title</h5>
                            <p class="card-text" style="position: relative; bottom: -4em;">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card" style="position: relative; width: 20em; height: 15em; bottom: 10em; right: -53em">
                        <i class="card-img-top fa-solid fa-coins fa-3x" style="position: relative; right: -0.5em; bottom: -15px"></i>
                        <div class="card-body">
                            <h5 class="card-title" style="position: relative; bottom: -2em;">Card title</h5>
                            <p class="card-text" style="position: relative; bottom: -4em">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; top: -1em;">
                    <a class="fs-1" style="color: #000000CC; text-decoration: none"><strong>Откройте Счет в Mamont Bank!</strong></a>
                </div>
                <div class="card-desk" style="position: relative; top: -1em">
                    <div class="card" style="position: relative; width: 20em; height: 8em; bottom: -5em; right: -5em">
                        <i class="card-img-top fa-solid fa-1 fa-3x" style="position: relative; top: -0.5em; right: -3em"></i>
                        <div class="card-body">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card" style="position: relative; width: 20em; height: 8em; top: -3em; right: -29em">
                        <i class="card-img-top fa-solid fa-2 fa-3x" style="position: relative; top: -0.5em; right: -3em"></i>
                        <div class="card-body">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card" style="position: relative; width: 20em; height: 8em; top: -11em; right: -53em">
                        <i class="card-img-top fa-solid fa-3 fa-3x" style="position: relative; top: -0.5em; right: -3em"></i>
                        <div class="card-body">
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="card; shadow-lg p-3 mb-5 bg-body rounded" style="position: relative; width: 55em; height: 22em; right: -10em; bottom: 5em" id="form-customer">
                    <div class="card-body">
                        <h5 class="card-title">Заполните форму</h5>
                        <form method="post" action="{% url 'home' %}" style="position: relative; bottom: -1em">
                            {% load static %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success btn-lg" type="submit" onclick="alert('Ваш счет в MamontBank успешно открыт')" name="createb">Оформить</button>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="position: relative; top: -2em">
                    <a class="fs-1" style="color: #000000CC; text-decoration: none"><strong>Премущества MamontBank</strong></a>
                </div>
                <div class="card mb-3" style="position: relative; width: 60%; height: 14.5%; right: -19.5%">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body" style="position: relative; bottom: -1em;">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-body" style="position: relative; bottom: -1.3em">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <img src="/static/img/MAMONTBANK_Logo.png" class="img-fluid rounded-start" style="position: relative; right: -4em; bottom: -4em; width: 400px">
                        </div>
                    </div>
                </div>
                <p>{{ customers }}</p>
            </div>
        </div>
    <footer class="text-center text-lg-start bg-light text-muted" style="position: relative; bottom: -145em">
                    <section class="d-flex justify-content-center justify-content-lg-bettween p-4 border-bottom">
                        <div class="me-5 d-none d-lg-block">
                            <span>Follow us:</span>
                        </div>
                        <div>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-discord"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-paypal"></i>
                            </a>
                            <a href="" class="me-4 text-reset">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </section>
                    <section>
                        <div class="container text-center text-md-start mt-5">
                            <div class="row mt-3">
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="position: relative; bottom: 0.5em">
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        <img src="/static/img/MAMONTBANK_without-text-grey.png" width="10%"></img>
                                    </h6>
                                    <p>
                                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                                        dolor sit amet, consectetur adipisicing elit.
                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                                    <p>
                                        <a href="/" class="text-reset">Home</a>
                                    </p>
                                    <p>
                                        <a href="/mortgage" class="text-reset">Ипотека</a>
                                    </p>
                                    <p>
                                        <a href="/credit" class="text-reset">Кредит</a>
                                    </p>
                                    <p>
                                        <a href="/deposit" class="text-reset">Вклад</a>
                                    </p>
                                </div>
                                <div class="col-md-4 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                    <p><i class="fas fa-home me-3"></i>Moskow, 10010, RU</p>
                                    <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
                                    <p><i class="fas fa-phone me-3"></i>+ 7 495 111 011 11</p>
                                    <p><i class="fas fa-print me-3"></i>+ 7 495 111 011 12</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="text-center p-4" style="background-color: black"> © 2022 Copyright:
                        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MamontBank.com</a>
                    </div>
                </footer>
    </div>
{% endblock %}
